.bookings__controls {
    text-align: center;
    padding: 0.5rem;
}

.bookings__controls button {
    font: inherit;
    font-size: 1.10rem;
    border: none;
    background: transparent;
    color: black;
    padding: 0.25rem 3rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.bookings__controls button.active {
    color: #5101d1;
    border-bottom: 3px solid #5101d1;
}

.bookings__controls button:focus {
    outline: none;
}